body {
    font-family: 'Verdana', sans-serif;
    margin: 0px 0px;
}

a {
    color: #BC8F8F;
}

a:hover {
    color: #BC8F8F;
}

header, footer, div.page {
    width: 2000px;
    margin: 0 auto;
    background: #FFC0CB;
    padding: 20px 30px;
}

header h1 {
    color: #FFF8DC;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #FFF8DC;
}
